{% extends 'main.html' %}
{% block content %}
{% if user.is_authenticated %}
<div class="mt-8"> <!-- Add margin-top for space from navbar -->
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Email
                </th>
                <th scope="col" class="px-6 py-3">
                    First Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Last Name
                </th>
                <th scope="col" class="px-6 py-3">
                    City
                </th>
                <th scope="col" class="px-6 py-3">
                    State
                </th>
                <th scope="col" class="px-6 py-3">
                    Zipcode
                </th>
                <th scope="col" class="px-6 py-3">
                    Phone No
                </th>
                <th scope="col" class="px-6 py-3">
                    Created At
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
            <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <a href="{% url 'singledetail' record.id %}">{{ record.email }}</a>
                </th>
                <td class="px-6 py-4">
                    {{ record.first_name }}
                </td>
                <td class="px-6 py-4">
                    {{ record.last_name }}
                </td>
                <td class="px-6 py-4">
                    {{ record.city }}
                </td>
                <td class="px-6 py-4">
                    {{ record.state }}
                </td>
                <td class="px-6 py-4">
                    {{ record.zipcode }}
                </td>
                <td class="px-6 py-4">
                    {{ record.phone }}
                </td>
                <td class="px-6 py-4">
                    {{ record.created_at }}
                </td>
                <td class="px-6 py-4">
                    <a href="{% url 'edit' record.id %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>&nbsp;
                    <a href="{% url 'delete' record.id %}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endif %}
{% endblock %}
