{% extends 'main.html' %}

{% block content %}
<div class="w-full max-w-md mx-auto mt-8 p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-8 dark:bg-gray-800 dark:border-gray-700">
    <div class="flex items-center justify-between mb-4">
        <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-white">{{ detail.first_name }}'s Details</h5>
    </div>
    <div class="flow-root">
        <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
            <li class="py-3 sm:py-4">
                <div class="flex items-center">
                    <div class="flex-1 min-w-0 ms-4">
                        <p class="mb-2 text-sm font-medium text-gray-900 truncate dark:text-white">
                            Email: {{ detail.email }}
                        </p>
                        <p class="mb-2 text-sm text-gray-500 truncate dark:text-gray-400">
                            Last Name: {{ detail.last_name }}
                        </p>
                        <p class="mb-2 text-sm text-gray-500 truncate dark:text-gray-400">
                            Address: {{ detail.address }}
                        </p>
                        <p class="mb-2 text-sm text-gray-500 truncate dark:text-gray-400">
                            Phone: {{ detail.phone }}
                        </p>
                        <p class="mb-2 text-sm text-gray-500 truncate dark:text-gray-400">
                            City: {{ detail.city }}
                        </p>
                        <p class="mb-2 text-sm text-gray-500 truncate dark:text-gray-400">
                            State: {{ detail.state }}
                        </p>
                        <p class="mb-2 text-sm text-gray-500 truncate dark:text-gray-400">
                            Zipcode: {{ detail.zipcode }}
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
